<tr>
	<td><%= book.id %></td>
	<td><%= link_to book.title, admin_book_path(book) %>
	</td>
	<td><%= book.rating%></td>
	<td><%= book.publish_date%></td>
	<td><%= book.category_id%></td>
	<td><%= "so favourites"%></td>
	<td><%= link_to "Edit", edit_admin_book_path,
	                              class: "btn btn-small btn-primary" %></td>
	<td><%= link_to "Delete", "#",
	                              class: "btn btn-small btn-primary" %></td>
</tr>