<%= render 'shared/error_messages', object: f.object %>
      
<div class="field">
	<%= f.label :title %>
  <%= f.text_field :title, placeholder: "Compose new title..." %>
</div>
<div class="field">
	<%= f.label "Category" %>
  <%= f.collection_select(:category_id, categories, :id, :name) %>
</div>
<div class="field">
	<%= f.label "Number page" %>
  <%= f.number_field :num_page %>
</div>
<div class="field">
	<%= f.label :price %>
  <%= f.number_field :price %>
</div>
<div class="field">
	<%= f.label :author %>
  <%= f.text_field :author %>
</div>
<div class="field">
	<%= f.label :publish_date %>
  <%= f.date_field :publish_date %>
</div>
