<div class="row">
<div class="span3">
  <u>
    <li><%= @book.title %></li>
    <li><i>by <%= @book.author %></i></li>
    <li>has <%= @book.num_page %> divages</li>
    <li>Price: <%= @book.price %></li>
    <li>Category: <%= @book.category.name %></li>
    <li><%= link_to "Rate" %></li>
    <li><%= link_to "Mark as read" %></li>
    <li><%= link_to "Mark as reading" %></li>
    <li><%= link_to "Request buy" %></li>
    <li><%= link_to "Review" %></li>
  </u>
</div>
<div class="span9">
  <h3>Reviews</h3>
  <ol><%= render @reviews %></ol>
</div>
</div>
