<div class="row">
<div class="span3">
  <ul class="unstyled">
    <li><%= @book.title %></li>
    <li><i>by <%= @book.author %></i></li>
    <li>has <%= @book.num_page %> divages</li>
    <li>Price: <%= @book.price %></li>
    <li>Category: <%= @book.category.name %></li>
    <li><%= link_to "Rate", "#", class: "btn btn-small btn-primary"%></li>
    <li><%= link_to "Mark as read", "#", class: "btn btn-small btn-primary" %></li>
    <li><%= link_to "Mark as reading", "#", class: "btn btn-small btn-primary" %></li>
    <li><%= link_to "Request buy", "#", class: "btn btn-small btn-primary" %></li>
    <li><%= link_to "Review", "#", class: "btn btn-small btn-primary" %></li>
  </ul>
</div>
<div class="span9">
  <h3>Reviews</h3>
  <ol><%= render @reviews %></ol>
</div>
</div>
