<div class="row">
<div class="span3">
  <ul class="unstyled">
    <li><%= @book.title %></li>
    <li><i>by <%= @book.author %></i></li>
    <li>has <%= @book.num_page %> divages</li>
    <li>Price: <%= @book.price %></li>
    <li>Category: <%= @book.category.name %></li>
    <% @favourite = @book.favourites.build() %>
    <%= render 'favourite_form' if signed_in? %>
    <%= render 'read_form', book: @book if signed_in? %>
    <%= render 'reading_form', book: @book if signed_in? %>
    <% if @rate.nil? %>
      <% @rate = @book.rates.build(rate: 3) %>
      <%= render "rate_form" %>
    <% else %>
      <div>
        You rate this book: <%= @rate.rate %> stars
        <div>
         <div id="edit_rate">
         <%= link_to "Edit", "#", class: "btn btn-small btn-primary", id: "btn_edit"%>
         </div>
         <div>
            <%= link_to "Delete", book_rate_path(@book.id, @rate.id),
             method: :delete, data: { confirm: "You sure?" },
                                       class: "btn btn-small btn-primary"%>
         </div>
        </div>
      </div>
    <% end %>
    <li>
      <% if @buy.nil? %>
        <% @buy = @book.buys.build() %>
        <%= form_for([@book ,@buy]) do |f| %>
          <div class="">
            <%= f.submit "Request buy", class: "btn btn-small btn-primary" %>
          </div>
        <% end %>
      <% else %>
        You has request to buy this book

        <% if has_bought? %>
          <div>Admin has accepted your request</div>
        <% else %>
          <div>Peding...</div>
          <%= link_to "Cancel it", book_buy_path(@book.id, @buy.id),
             method: :delete, data: { confirm: "You sure?" },
                                       class: "btn btn-small btn-primary"%>
        <% end %>
      <% end %>
    </li>
    <li><%= link_to "Review", "#", class: "btn btn-small btn-primary" %></li>
  </ul>
</div>
<div class="span9">
  <h3>Reviews</h3>
  <ol><%= render @reviews %></ol>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#btn_edit').click(function(){
      $("#edit_rate").html("<%= escape_javascript(render('books/rate_form')) %>");
    })
  })
</script>
